// ----- Colors -----
$color-one: white;
$color-two: black;
$color-three: #234D20;
$color-three-100: #C9DF8A;
$color-three-200: #77AB59;
$color-three-300: #36802D;

// ----- Sizes -----
$size-screen-phone: 700px;
$size-screen-tablet: 1000px;
$size-screen-pc: 1200px;

$container-size-small: 800px;
$container-size-medium: 1000px;
$container-size-big: 1200px;


// ----- Fonts -----
$font-family-main: 'Roboto', sans-serif;

// ----- Paddings -----

//Padding on the sides of the webpage
$padding-sides: 1em;